---
import { Schema } from "astro-seo-schema";
import { Picture } from "astro:assets";
import { getCollection, render } from "astro:content";
import type { Event, WithContext } from "schema-dts";
import demoImage from "../../assets/parties-und-events.jpg";
import MinimalLayout from "../../layouts/MinimalLayout.astro";
import "../../styles/section.css";
import { hyphenate } from "../../utils/hyphenate.ts";
import EventFooter from "../../components/events/EventFooter.astro";

export async function getStaticPaths() {
  const events = await getCollection("events");
  const result = events.map((event) => ({
    params: { event_id: event.id },
    props: { event },
  }));
  return result;
}
const { event } = Astro.props;
const { Content } = await render(event);

const { title, subtitle, description } = event.data;

const titleAndSubtitle = subtitle ? title + ": " + subtitle : title;
---

<MinimalLayout title={titleAndSubtitle} isHomepageOrAbout={false}>
  <Schema
    slot="seo-json-ld"
    item={{
      url: "/events/" + event.id + "/",
      "@context": "https://schema.org",
      "@type": "Event",
      name: titleAndSubtitle,
      description: description,
      image: demoImage.src,
      startDate: event.data.date.toString(),
      endDate: event.data.endDate?.toString(),
      eventStatus: "https://schema.org/EventScheduled",
      eventAttendanceMode: "OfflineEventAttendanceMode",
      location: {
        "@type": "Place",
        name: event.data.location,
        address: event.data.address
          ? {
              "@type": "PostalAddress",
              name: event.data.address.name,
              streetAddress: event.data.address.street,
              addressLocality: event.data.address.city,
              postalCode: event.data.address.postalCode,
              addressCountry: event.data.address.countryCode,
              url: event.data.address.url,
            }
          : undefined,
      },
      organizer: {
        "@type": "Organization",
        name: "WCS Wuppertal",
        url: "https://wcs-wuppertal.de",
      },
    } satisfies WithContext<Event>}
  />

  <article>
    <header>
      {title && <h2>{hyphenate(title)}</h2>}
      {subtitle && <h3>{hyphenate(subtitle)}</h3>}
    </header>
    <div class="image-container">
      <Picture src="https://images.unsplash.com/photo-1655459784225-ae3ad6aef952" alt="Party" />
    </div>
    <Content />
    <EventFooter event={event} />
  </article>
</MinimalLayout>

<style is:global>
  article h1 {
    font-size: 2rem;
    margin-block-start: 1.245rem;
    margin-block-end: 1.245rem;
  }
  article h2 {
    font-size: 1.5rem;
    line-height: 1.25;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }
  article h3 {
    font-size: 1.17rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  article h4 {
    font-size: 1rem;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
  }
  article h5 {
    font-size: 0.83rem;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
  }
  article h6 {
    font-size: 0.67rem;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
  }
</style>

<style>
  article::after {
    content: "";
    clear: both;
    display: block;
  }

  header h2 {
    font-size: 6rem;
    margin-top: 1rem;
    line-height: 1.25;
    color: #eee;
  }

  @media (max-width: 900px) {
    header h2 {
      font-size: 4rem;
    }
  }

  @media (max-width: 300px) {
    header h2 {
      font-size: 3rem;
    }
  }

  header h3 {
    font-size: 3rem;
    font-weight: 100;
  }

  header h2 + h3 {
    margin-top: -2rem;
    margin-bottom: 2.8rem;
  }

  .image-container {
    max-width: min(100%, 500px);
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 900px) {
    .image-container {
      float: right;
      max-width: 50%;
      max-height: none;
      padding-left: 1rem;
      padding-bottom: 2rem;
      margin-top: 0.5rem;
      margin-left: 0;
      margin-right: 0;
    }
  }

  article {
    margin-bottom: 3rem;
  }

  @media (min-width: 900px) {
    article {
      margin-bottom: 15rem;
    }
  }
</style>
